/*Estilos generales de la aplicación*/
body{
    margin: 0;
    font-family: 'Public Sans',sans-serif;
}

main{
    display: flex;
    padding-top: 40px;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin: 16px;
}

button{
    height: 48px;
    width: fit-content;
    padding: 12px;
    color: #FFFFFF;
    background-color: #4097BF;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 2px;
    align-self: flex-start;
    cursor: pointer;
    white-space: nowrap;
}

button:hover{
    background-color: #265B73;
}

/*Estilos para los filtros*/
section#izquierda{
    width: 20%;
    align-self: flex-start;
}

section#derecha{
    width: min-content;
    display: grid;
    grid-template-columns:auto;
    gap: 16px;
}

div.filtro{
    width: 100%;
    padding-bottom: 24px;
}


input[type="radio"]{
    margin: 0;
    display: flex;
    border: none; 
    outline: none; 
    background-color: #FFFFFF;
    font-size: 14px; 
    color: #191C1F; 
    height: 20px;
    text-align: left;
    width: auto;
    align-items: center;
    
}

input[type="radio"]:checked + label {
    font-weight: bold; 
  }

  input[type="number"]{
    border: 1px solid #E4E7E9; 
    outline: none; 
    background-color: #FFFFFF;
    font-size: 14px; 
    color: #77878F; 
    height: 40px;
    width: 100%;
    text-align: left;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 8px;
    
}

ul{
    padding: 0;
    margin: 0 ;
}
li{
    display: flex;
    width: fit-content;
    align-items: center;
    text-indent: 0%;
}

input[type="radio"] + label {
    margin-left: 8px; 
    width: auto; 
}

label{
    display: flex;
    color: #475156;
    font-size: 14px;
    text-align: center;
    align-items: center;

}

h5{
    color: #191C1F;
    font-size: 16px;
    font-weight: 500;
}

div#rango{
    display: flex;
    gap: 12px;
}

hr{
    margin-top: 12px;
    margin-bottom: 12px;
    color: #E4E7E9;
    border: 1px solid;
}

/*Estilos para combobox para ordenar productos*/


div#sort{
    display: flex;
    gap: 22px;
    grid-column: span 4;
    vertical-align: middle;
}


select{
    border: 1px solid #E4E7E9; 
    outline: none; 
    background-color: #FFFFFF;
    font-size: 14px; 
    color: #77878F; 
    height: 40px;
    width: 192px;
    text-align: left;
    border-radius: 3px;
    padding: 8px;
    
}

/*Estilos para los filtros activos*/
div#active-filters{
    display: flex;
    margin-top: 8px;
    background-color: #F2F2F2;
    height: 20px;
    padding: 12px 6px 12px 24px;
    grid-column: span 4;
    border-radius: 4px;
    gap: 8px;
}

div#filters{
    display: flex;
}

  #n-resultados{
    margin-left: auto; 
  }

  /*Estilos para tabla*/

  #columnnames{
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
    height: 38px;
    justify-content: space-around;
  }
  #columnnames>label{
    padding: 4px 3% 4px 3%;
    gap: 16px;
    font-size: 12px;

  }
  div.tabla{
    display: block;
    width: 100%;
    margin: right 5%;;
  }

.tabla> h3{
    height: 20px;
    font-size: 12px;
    border: 1px solid #E4E7E9; 
    outline: none; 
    border-radius: 3px;
    margin: 0;
    padding: 15px;

}
#content{
    border: 1px solid #E4E7E9; 
    outline: none; 
    border-radius: 3px;
    padding: 25px 50px 25px 50px;
    display: block;
  
}