body{
    font-family: 'Public Sans', sans-serif;
    margin: 0;
}
main {
    display: flex;
    padding-top: 40px;
    align-items: flex-start;
    gap: 16px;
    justify-content: center;
    margin: 16px;
    gap: 56px;
}

div.imagenes{
    width: 35%;
    height: 500px;
    gap: 24px;
}

div.info{
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 12px;
}

div.vendedor{
    width: 15%;
    display: flex;
    flex-direction: column;
}

img{
    border: 1px solid #E4E7E9;
    border-radius: 4px;
    cursor: pointer;
}
img.principal{
    height: 80%;
    width: 100%;
}

div#carrusel{
    display: inline;
    width: fit-content;
    height: 20%;
    overflow: hidden;
}

div#carrusel img.selected{
    border:1px solid #4097BF;
}

div#carrusel img{
    width: 96px;
    height: 53px;
    margin-right: 5px;
}

.titulo{
    font-size: 20px;
    color:#191C1F
}

.subtitulo{
    font-size: 16px;
    color:#191C1F
}

p{
    font-size: 14px;
    color: #5F6C72;
}

.precio{
    font-size: 24px;
    color: #66ACCC;
    font-weight:bold;
}

div.input-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 2px solid #E4E7E9;
    border-radius: 4px;
    width: 25%;
    align-items: center;
    justify-items: center;
}

div#btn-container {
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 24px;
}

button{
    color: #191C1F;
    border: none;
    outline: none;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 16px;

    text-align: center;
    width: max-content;
}

div#add-to-cart-disabled{
    background-color: #E4E7E9;
    color: #5F6C72;
    cursor: default;
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    border-radius: 3px;
}


button:hover {
    cursor: pointer;
}

button#buy {
    border: 2px solid #4097BF;
    background-color: #FFFF;
    color: #4097BF;
    width: 25%;
    padding: 8px;
    border-radius: 3px;
}

div#add-to-cart {
    display: flex;
    flex-direction: row;
    background-color: #4097BF;
    color: #FFFF;
    width: 50%;
    padding: 8px;
    text-align: center;
    font-size: 16px;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}

div#add-to-cart img{
    border: none;
    filter: invert();
    width: 20px;
    height: 20px;
    margin-left: 5px;
    align-self: center;
}

div#add-to-cart p{
    color: white;
}

button.range{
    width: 30%;
}

input{
    color: #475156;
    border: none;
    outline: none;
    width: 40%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #E4E7E9;
    border: 1px solid;
}

p.black{
    color: #191C1F;
}

.vendedor img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

