<div class="info">
    <h3>Configuración de la cuenta</h3>
    <div>
        <img id="foto">
        <div class="grid">
            <div class="inputContainer half">
                <label>Nombre completo</label>
                <input type="text" id="nombre">
            </div>
            <div class="inputContainer half">
                <label>Email</label>
                <input type="text" id="email" disabled>
            </div>
            <button id="save-name">Guardar cambios</button>
        </div>
    </div>

</div>
<div class="direccion">
    <h3>Dirección</h3>
    <div class="inputContainer half">
        <label>Calle</label>
        <input type="text" id="calle">
    </div>
    <div class="inputContainer half">
        <label>Número</label>
        <input type="number" id="number">
    </div>
    <div class="inputContainer">
        <label>Pais</label>
        <select id="calle">
    </div>
    <div class="inputContainer">
        <label>Estado</label>
        <select id="estado">
        </select>
    </div>
    <div class="inputContainer half">
        <label>Ciudad</label>
        <select id="ciudad">
        </select>
    </div>
    <div class="inputContainer half">
        <label>Código postal</label>
        <input type="number" id="postal">
    </div>
    <button id="save-direccion">Guardar cambios</button>
</div>
<div class="password">
    <h3>Cambiar contraseña</h3>
    <div class="inputContainer">
        <label>Contraseña actual</label>
        <input type="text" id="contraseña-actual">
    </div>
    <div class="inputContainer">
        <label>Nueva contraseña</label>
        <input type="text" id="contraseña-nueva">
    </div>
    <div class="inputContainer">
        <label>Confirmar contraseña</label>
        <input type="text" id="contraseña-repetir">
    </div>
    <button id="contraseña">Cambiar contraseña</button>
</div>