form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

}
div.info{
    display: flex;
    flex-direction: column;
    border: 1px solid #E4E7E9; 
    width: 100%;
    gap: 16px;
    padding: 24px;
    grid-column: 2 span;
}

img{
    height: 172px;
    width: 172px;
    border-radius: 50%;
    margin-right: 16px;
}
div.grid{
    width: 80%;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

div.flex{
    display: flex;
    flex-direction: row;
}

div.direccion{
    border: 1px solid #E4E7E9; 
    gap: 16px;
    padding: 24px;
}

div.password{
    border: 1px solid #E4E7E9; 
    gap: 16px;
    padding: 24px;
}

button {
    height: 48px;
    width: fit-content;
    padding: 12px;
    color: #FFFFFF;
    background-color: #4097BF;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 2px;
    align-self: flex-start;
    cursor: pointer;
    white-space: nowrap;
    margin-top: 16px;
}

h3{
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid #E4E7E9;
    padding: 8px;
}

input, textarea, select{
    outline: none;
    border: 1px solid #E4E7E9; 
    border-radius: 2px;   
    padding: 8px;
    font-family: 'Public Sans', sans-serif;
    transition: border-color 0.3s;
}

div.inputContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputCotainer.half{
    width: 50%;
}

label{
    font-size: 14px;
    color: #191C1F;
}